h1{
    color: gold;
}
body{
    background-image: url(Image/305922-snow-covered-mountain-illustration-mountains-pink-aesthetic.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
